[run]
branch = True
omit =
  tests/*
  */site-packages/*
source =
  cephlcm/
  playbook_plugins/

[report]
precision = 2
exclude_lines =
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
