# Requirements to test CephLCM

ansible-lint
flake8 < 3.0
flake8-builtins
flake8-coding
flake8-debugger
flake8-quotes < 0.7
hacking
mock
pep8
pep8-naming
pytest
pytest-cov
pytest-flask
pytest-profiling
radon >= 1.4.2
vulture
xenon
