# Requirements to test CephLCM

# Cannot use it here because pbr still do not understand such line.
# -c constraints.txt

flake8
flake8-bugbear
flake8-builtins
flake8-coding
flake8_comprehensions
flake8-debugger
flake8-import-order
flake8-mutable
flake8-quotes
flake8-string-format
mongomock
pep8-naming
pycodestyle
pytest
pytest-cov
pytest-flask
pytest-profiling
radon
xenon
