<step [title]="'Name and Cluster'">
  <div class="form-group" [ngClass]="{'has-error': !model.data.name}">
    <label class="control-label" for="configuration_name">Name</label>
    <input
      type="text"
      class="form-control"
      name="configuration_name"
      id="configuration_name"
      [(ngModel)]="model.data.name"
      [submits]="'#next'"
      focused
      required
  >
  </div>
  <div class="form-group" [ngClass]="{'has-error': !model.data.cluster_id}">
    <label class="control-label" for="configuration_cluster">Cluster</label>
    <select
      class="form-control"
      name="configuration_cluster"
      id="configuration_cluster"
      [(ngModel)]="model.data.cluster_id"
      [submits]="'#next'"
    >
      <option
        *ngFor="let cluster of clusters"
        [value]="cluster.id"
      >
        {{cluster.data.name}}
      </option>
    </select>
  </div>
</step>