.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 8px 20px;
}
.btn-default {
  background-color: #ffffff;
  border: 1px solid #5A7983;
  padding: 7px 20px;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #ffffff;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-default:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-default:hover {
  background-color: #ffffff;
}
.btn-default:hover:before {
  transform: scale(1);
}
.btn-default:focus:before {
  transform: scale(1);
}
.btn-default:active:before {
  transform: scale(1);
}
.btn-default.btn-xs {
  font-size: 10px;
  padding: 4px 10px;
}
.btn-primary {
  background-color: #5A7983;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #5A7983;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3c5b65;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #5A7983;
}
.btn-primary:hover:before {
  transform: scale(1);
}
.btn-primary:focus:before {
  transform: scale(1);
}
.btn-primary:active:before {
  transform: scale(1);
}
.btn-primary.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-success {
  background-color: #7FB069;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #7FB069;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #61924b;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-success:hover {
  background-color: #7FB069;
}
.btn-success:hover:before {
  transform: scale(1);
}
.btn-success:focus:before {
  transform: scale(1);
}
.btn-success:active:before {
  transform: scale(1);
}
.btn-success.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-info {
  background-color: #9AD1D4;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #9AD1D4;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-info:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7cb3b6;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-info:hover {
  background-color: #9AD1D4;
}
.btn-info:hover:before {
  transform: scale(1);
}
.btn-info:focus:before {
  transform: scale(1);
}
.btn-info:active:before {
  transform: scale(1);
}
.btn-info.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-warning {
  background-color: #E6AA68;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #E6AA68;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c88c4a;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-warning:hover {
  background-color: #E6AA68;
}
.btn-warning:hover:before {
  transform: scale(1);
}
.btn-warning:focus:before {
  transform: scale(1);
}
.btn-warning:active:before {
  transform: scale(1);
}
.btn-warning.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-danger {
  background-color: #FF634C;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #FF634C;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1452e;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-danger:hover {
  background-color: #FF634C;
}
.btn-danger:hover:before {
  transform: scale(1);
}
.btn-danger:focus:before {
  transform: scale(1);
}
.btn-danger:active:before {
  transform: scale(1);
}
.btn-danger.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
