.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 8px 20px;
}
.btn-default {
  background-color: #ffffff;
  border: 1px solid #5A7983;
  padding: 7px 20px;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #ffffff;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-default:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-default:hover {
  background-color: #ffffff;
}
.btn-default:hover:before {
  transform: scale(1);
}
.btn-default:focus:before {
  transform: scale(1);
}
.btn-default:active:before {
  transform: scale(1);
}
.btn-default.btn-xs {
  font-size: 10px;
  padding: 4px 10px;
}
.btn-primary {
  background-color: #5A7983;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #5A7983;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3c5b65;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #5A7983;
}
.btn-primary:hover:before {
  transform: scale(1);
}
.btn-primary:focus:before {
  transform: scale(1);
}
.btn-primary:active:before {
  transform: scale(1);
}
.btn-primary.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-success {
  background-color: #7FB069;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #7FB069;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #61924b;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-success:hover {
  background-color: #7FB069;
}
.btn-success:hover:before {
  transform: scale(1);
}
.btn-success:focus:before {
  transform: scale(1);
}
.btn-success:active:before {
  transform: scale(1);
}
.btn-success.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-info {
  background-color: #9AD1D4;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #9AD1D4;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-info:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7cb3b6;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-info:hover {
  background-color: #9AD1D4;
}
.btn-info:hover:before {
  transform: scale(1);
}
.btn-info:focus:before {
  transform: scale(1);
}
.btn-info:active:before {
  transform: scale(1);
}
.btn-info.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-warning {
  background-color: #E6AA68;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #E6AA68;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c88c4a;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-warning:hover {
  background-color: #E6AA68;
}
.btn-warning:hover:before {
  transform: scale(1);
}
.btn-warning:focus:before {
  transform: scale(1);
}
.btn-warning:active:before {
  transform: scale(1);
}
.btn-warning.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.btn-danger {
  background-color: #FF634C;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #FF634C;
  transition-property: color;
  transition-duration: 0.2s;
}
.btn-danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1452e;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.btn-danger:hover {
  background-color: #FF634C;
}
.btn-danger:hover:before {
  transform: scale(1);
}
.btn-danger:focus:before {
  transform: scale(1);
}
.btn-danger:active:before {
  transform: scale(1);
}
.btn-danger.btn-xs {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  -webkit-font-smoothing: antialiased;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: .7;
  margin: 0px 6px;
}
.user-icon::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1175 43 13 13'%3E%3Cpath d='M1181.5 49.5C1183.3 49.5 1184.8 48 1184.8 46.3 1184.8 44.5 1183.3 43 1181.5 43 1179.7 43 1178.3 44.5 1178.3 46.3 1178.3 48 1179.7 49.5 1181.5 49.5L1181.5 49.5ZM1181.5 51.1C1179.3 51.1 1175 52.2 1175 54.4L1175 56 1188 56 1188 54.4C1188 52.2 1183.7 51.1 1181.5 51.1L1181.5 51.1Z' fill='%235A7983'/%3E%3C/svg%3E");
}
.edit-icon::before {
  content: '';
  display: block;
  width: 12px;
  height: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='169 20 12 11'%3E%3Cpath d='M169 28.7L169 31 171.3 31 177.9 24.2 175.6 21.9 169 28.7 169 28.7ZM179.6 22.4C179.9 22.2 179.9 21.8 179.6 21.6L178.2 20.2C178 19.9 177.6 19.9 177.4 20.2L176.3 21.3 178.6 23.6 179.6 22.4 179.6 22.4ZM174.4 29.8L173.2 31 181 31 181 29.8 174.4 29.8 174.4 29.8Z' fill='%235A7983'/%3E%3C/svg%3E");
}
.triangle-right-icon::before {
  content: '';
  display: block;
  width: 9px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='273 828 9 12'%3E%3Cpolygon transform='translate%28277.5 834%29rotate%2890%29translate%28-277.5 -834%29' points='277.5 830 283 838 272 838' fill='%235A7983'/%3E%3C/svg%3E");
}
.triangle-down-icon::before {
  content: '';
  display: block;
  width: 11px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='272 850 11 8'%3E%3Cpolygon transform='translate%28277.5 854%29rotate%28180%29translate%28-277.5 -854%29' points='277.5 850 283 858 272 858' fill='%235A7983'/%3E%3C/svg%3E");
}
.triangle-left-icon::before {
  content: '';
  display: block;
  width: 9px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='253 848 9 12'%3E%3Cpolygon transform='translate%28257.5 854%29rotate%28270%29translate%28-257.5 -854%29' points='257.5 850 263 858 252 858' fill='%235A7983'/%3E%3C/svg%3E");
}
.triangle-up-icon::before {
  content: '';
  display: block;
  width: 11px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='252 830 11 8'%3E%3Cpolygon points='257.5 830 263 838 252 838' fill='%235A7983'/%3E%3C/svg%3E");
}
body {
  background-color: #DEE2E4;
  font-family: 'Open Sans', 'Source Sans Pro', helvetica, arial, tahoma, verdana, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #565C63;
}
a {
  color: #5A7983;
  text-decoration: none;
}
a:hover {
  color: #455d65;
  text-decoration: none;
}
a:hover > .glyphicon {
  opacity: 1;
}
.text-muted {
  color: #acb0b2;
}
.text-primary {
  color: #565C63;
}
.text-info {
  color: #9AD1D4;
}
.text-success {
  color: #7FB069;
}
.text-warning {
  color: #E6AA68;
}
.text-danger {
  color: #FF634C;
}
.line {
  display: block;
  height: 1px;
  background-color: #c0c4c6;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  border-color: #7897a1;
  padding: 6px 8px;
  font-size: 13px;
}
.form-control:focus {
  border-color: #5A7983;
  box-shadow: 0 0 0;
}
.form-control::-moz-placeholder {
  color: #a6acb3;
  font-weight: 100;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #a6acb3;
  font-weight: 100;
}
.form-control::-webkit-input-placeholder {
  color: #a6acb3;
  font-weight: 100;
}
.header .header-background {
  width: 100%;
  min-width: 1230px;
  height: 101px;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #FF634C;
  position: absolute;
  top: 0px;
  left: 0px;
}
.header .logo {
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 30px;
  background: url(../images/shrimp-logo.svg) no-repeat top left;
}
.header .navigation {
  height: 101px;
  overflow: hidden;
  margin: 0;
}
.header .navigation .menu-item {
  font-family: 'Source Sans Pro', 'Open Sans', helvetica, arial, tahoma, verdana, sans-serif;
  display: inline-block;
  margin: 40px 10px 0px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.header .navigation .menu-item:first-child {
  margin-left: 0px;
}
.header .navigation .menu-item:last-child {
  margin-right: 0px;
}
.header .navigation .menu-item a {
  color: #565C63;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}
.header .navigation .menu-item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -4px;
  background: #FF634C;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.header .navigation .menu-item a:hover {
  text-decoration: none;
  color: #383e45;
}
.header .navigation .menu-item a:hover:before {
  left: 0;
  right: 0;
}
.header .navigation .menu-item a:focus {
  text-decoration: none;
}
.header .navigation .menu-item a:focus:before {
  left: 0;
  right: 0;
}
.header .navigation .menu-item a.active {
  border-bottom: 4px solid #FF634C;
}
.header .current-user {
  display: block;
  height: 30px;
  margin: 40px 0px 0px;
  text-align: right;
}
.page-title {
  display: block;
  margin: 30px 0px;
  height: 37px;
}
.page-title h1 {
  font-family: 'Source Sans Pro', 'Open Sans', helvetica, arial, tahoma, verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 7px 0px;
}
.page-title .main-button {
  text-align: right;
  margin: 2px 0;
}
label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.filters {
  display: block;
  height: 56px;
  border-top: 1px solid #acb0b2;
  border-bottom: 1px solid #acb0b2;
  margin-bottom: 30px;
  padding-top: 9px;
}
.filters .form-group {
  margin: 0;
  padding: 0;
}
.filters label {
  display: inline-block;
  width: 38%;
  margin-top: 3px;
  margin-right: 5px;
  text-align: right;
}
.filters select {
  display: inline-block;
  width: 58%;
}
.group-name h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
}
.table-help {
  height: 12px;
  display: block;
  font-family: 'Source Sans Pro', 'Open Sans', helvetica, arial, tahoma, verdana, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #888e95;
}
.box {
  display: block;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #acb0b2;
  overflow: hidden;
  margin-bottom: 10px;
}
.box:hover {
  border: 1px solid #84888a;
}
.box.active {
  cursor: pointer;
}
.box.open {
  height: auto;
  min-height: 50px;
}
.box.open .bowels {
  display: block;
}
.box > div {
  display: block;
  height: 48px;
  padding: 9px 0px 9px 15px;
  overflow: hidden;
  line-height: 30px;
}
.box > div.icon {
  padding: 15px 0 0 30px;
}
.box > div.name {
  font-weight: 600;
}
.box > div.name input {
  width: 300px;
  height: 30px;
  margin-left: -8px;
}
.box > div.parameter {
  font-weight: 400;
  color: #747a81;
}
.box > div.parameter button {
  line-height: 16px;
  margin: -1px 0px 0px 0px;
  display: inline-block;
  width: 70px;
}
.box > div.action {
  font-weight: 400;
  color: #747a81;
  text-align: center;
}
.box .box-close,
.box .box-open {
  text-align: right;
  margin-right: 20px;
}
.box .bowels {
  display: none;
  max-height: 225px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  clear: both;
  border-top: 1px solid #acb0b2;
  min-height: 50px;
  padding-top: 20px;
}
.box .bowels .col-xs-12:last-child {
  margin-bottom: 20px;
}
.box .bowels h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 100;
}
.box .bowels .version-box {
  clear: both;
  display: block;
  height: 50px;
  border-top: 1px solid #DEE2E4;
  border-bottom: 1px solid #DEE2E4;
  margin: 0px;
  padding: 0px;
}
.box .bowels .server-details {
  margin-bottom: 20px;
}
.box .bowels .server-details .server-details-item {
  height: 32px;
  border-top: 1px solid #c0c4c6;
}
.box .bowels .server-details .server-details-item:hover {
  background-color: #f2f6f8;
}
.box .bowels .server-details .server-details-item .name {
  display: block;
  float: left;
  width: 60%;
  height: 30px;
  padding: 0;
}
.box .bowels .server-details .server-details-item .parameter {
  display: block;
  float: right;
  width: 30%;
  text-align: right;
  height: 30px;
  padding: 0px;
}
.box .bowels .server-details .server-details-item:last-child {
  border-bottom: 1px solid #c0c4c6;
}
.grid .grid-line {
  display: block;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #acb0b2;
  border-width: 1px 0 0 0;
  overflow: hidden;
}
.grid .grid-line.table-help {
  border-width: 0;
  margin-bottom: 0;
}
.grid .grid-line > div {
  display: block;
  height: 38px;
  padding: 4px 0px 4px 15px;
  overflow: hidden;
  line-height: 30px;
}
.grid .grid-line > div input[type=radio],
.grid .grid-line > div input[type=checkbox] {
  margin: 8px 4px 0 0;
  float: right;
}
.grid .grid-line > div input[type=checkbox] {
  margin: 9px 2px 0 0;
}
.grid .grid-line .icon {
  padding-top: 10px;
}
.grid .grid-line .name {
  font-weight: 600;
}
.grid .grid-line .parameter {
  font-weight: 400;
  color: #747a81;
}
.grid .grid-line .parameter button {
  line-height: 16px;
  margin: -1px 0px 0px 0px;
  display: inline-block;
  width: 70px;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  height: 55px;
  background-color: #DEE2E4;
  border-bottom: 1px solid #FF634C;
}
.modal-header h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2px;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-body h1 {
  font-family: 'Source Sans Pro', 'Open Sans', helvetica, arial, tahoma, verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 7px 0px 14px;
}
.modal-footer {
  border: 0;
}
.login-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}
.login-box {
  width: 440px;
  height: 440px;
  border-radius: 220px;
  background-color: #ffffff;
  margin-top: 220px;
  margin-right: auto;
  margin-left: auto;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}
.loader {
  text-align: center;
}
.loader i {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url(../images/shrimp-logo.svg) no-repeat top left;
  background-size: cover;
  animation: spin 4s linear infinite;
  opacity: 0.7;
}
.loader p {
  margin-top: 20px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
a {
  cursor: pointer;
  cursor: hand;
}
navigation.tabs ul {
  border-bottom: solid 1px #CCC;
  padding-bottom: 0;
  margin-bottom: 20px;
}
navigation.tabs ul a {
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  margin-right: 6px;
  background-color: #cdd1d3;
}
navigation.tabs ul a.active {
  background-color: #DEE2E4;
  border-bottom: solid 1px #DEE2E4;
}
div.login {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
div.login h3 {
  margin-top: 6px;
}
div.login form {
  margin-top: 100px;
  display: inline-block;
  text-align: left;
  border: solid 1px #aaa;
  padding: 15px 20px;
  box-shadow: 0px 20px 150px #888;
  background-color: #FFF;
}
div.login form input {
  width: 160px;
  display: block;
  margin-bottom: 10px;
}
table.servers td:last-child {
  width: 1%;
}
.configurations .box .glyphicon {
  top: 8px;
  left: 10px;
}
.configurations .box.open .glyphicon {
  top: 10px;
}
table.playbooks td:last-child {
  width: 1%;
}
