/* Master Styles */
body {
  margin: 2em;
}
a {
  cursor: pointer;
  cursor: hand;
}
.pull-right {
  float: right;
}
navigation.tabs ul {
  border-bottom: solid 1px #CCC;
  padding-bottom: 0;
  margin-bottom: 20px;
}
navigation.tabs ul a {
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  margin-right: 6px;
}
navigation.tabs ul a.active {
  background-color: #FFF;
  border-bottom: solid 1px #FFF;
}
navigation ul {
  padding: 10px;
  margin: 10px 0;
}
navigation ul li {
  display: inline-block;
}
navigation ul li a {
  display: inline-block;
  min-width: 150px;
  height: 36px;
  padding: 8px;
  border: solid 1px #CCC;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  color: #444;
  text-decoration: none;
}
navigation ul li a:hover {
  text-decoration: none;
}
navigation ul li a.active {
  background-color: #DDD;
  text-decoration: none;
}
navigation ul li a.logoff {
  min-width: 36px;
  font-size: 12pt;
}
div.login {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
div.login h3 {
  margin-top: 6px;
}
div.login form {
  margin-top: 100px;
  display: inline-block;
  text-align: left;
  border: solid 1px #aaa;
  padding: 15px 20px;
  box-shadow: 0px 20px 150px #888;
  background-color: #FFF;
}
div.login form input {
  width: 160px;
  display: block;
  margin-bottom: 10px;
}
table.roles td:first-child {
  padding-left: 20px;
  vertical-align: middle;
}
table.roles td:nth-child(n+2) {
  text-align: center;
  font-size: 150%;
}
table.roles td:nth-child(n+2) button {
  padding: 0;
}
table.clusters td:last-child {
  width: 1%;
}
