/* Master Styles */
body {
  margin: 2em;
}
a {
  cursor: pointer;
  cursor: hand;
}
navigation ul {
  background-color: #EEE;
  padding: 10px;
  margin: 10px 0;
}
navigation ul li {
  min-width: 100px;
  display: inline-block;
}
navigation ul li.right {
  float: right;
}
navigation ul li a.active {
  color: black;
  font-weight: 800;
  text-decoration: none;
}
div.login {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
div.login h3 {
  margin-top: 6px;
}
div.login form {
  margin-top: 100px;
  display: inline-block;
  text-align: left;
  border: solid 1px #aaa;
  padding: 15px 20px;
  box-shadow: 0px 20px 150px #888;
  background-color: #FFF;
}
div.login form input {
  width: 160px;
  display: block;
  margin-bottom: 10px;
}
