include decapod_plugin_playbook_telegraf_integration/config.yaml
include decapod_plugin_playbook_telegraf_integration/plugin.yaml
graft decapod_plugin_playbook_telegraf_integration/dj-wasabi.telegraf
