PATH=/bin:/usr/bin:/usr/local/bin

0 * * * * /usr/local/bin/decapod-cron-clean-expired-tokens > /var/log/cron.log 2>&1
5 * * * * /usr/local/bin/decapod-cron-clean-old-pwtokens > /var/log/cron.log 2>&1
10 3 * * * /usr/local/bin/decapod-cron-clean-old-tasks > /var/log/cron.log 2>&1
*/10 * * * * flock -xn /usr/local/bin/decapod-collect-data timeout --foreground -k 3m 2m /usr/local/bin/decapod-collect-data > /var/log/cron.log 2>&1
