include decapod_ansible/ceph-ansible/LICENSE
graft decapod_ansible/ceph-ansible/library
graft decapod_ansible/ceph-ansible/plugins
graft decapod_ansible/ceph-ansible/roles
graft decapod_ansible/plugins
