<div class="container">

  <div class="header">
    <div class="header-background"></div>
    <div class="main">
      <div class="row">
        <div class="col-xs-2"><a [routerLink]="['/clusters']" class="logo"></a></div>
        <ul class="col-xs-8 navigation">
          <li class="menu-item">
            <a [routerLink]="['/clusters']" routerLinkActive="active">Clusters</a>
          </li>
          <li class="menu-item">
            <a [routerLink]="['/configurations']" routerLinkActive="active">Configurations</a>
          </li>
          <li class="menu-item">
            <a [routerLink]="['/playbooks']" routerLinkActive="active">Playbooks</a>
          </li>
          <li class="menu-item">
            <a [routerLink]="['/servers']" routerLinkActive="active">Servers</a>
          </li>
          <li class="menu-item">
            <a [routerLink]="['/executions']" routerLinkActive="active">Executions</a>
          </li>
          <li class="menu-item">
            <a [routerLink]="['/admin']" routerLinkActive="active">Users Management</a>
          </li>
        </ul>
        <div class="col-xs-2">
          <div class="current-user">
            <a><span class="glyphicon user-icon"></span> {{getLoggedUserName()}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
