<div class="page-title">
  <div class="row">
    <div class="col-xs-9"><h1>Clusters</h1></div>
    <div class="col-xs-3 main-button">
      <button type="button" class="btn btn-primary" (click)="editCluster()">Create New Cluster</button>
    </div>
  </div>
</div>

<filter (onChange)="fetchData()"></filter>

<div class="row" *ngIf="clusters && clusters.length">
  <div class="col-xs-12">

    <div class="table-help">
      <div class="col-xs-12">Cluster Name</div>
    </div>

    <div
      class="box"
      *ngFor="let cluster of clusters"
      [ngClass]="{open: cluster.id === shownClusterId}"
    >
      <div class="col-xs-11 name">
        {{cluster.data.name}}
        <a (click)="editCluster(cluster)">
          <span class="glyphicon edit-icon"></span>
        </a>
      </div>
      <div class="col-xs-1 action">
        <a (click)="showConfig(cluster)">
          <span
            class="glyphicon"
            [ngClass]="'glyphicon-triangle-' + (cluster.id === shownClusterId ? 'bottom' : 'right')"
          ></span>
        </a>
      </div>

      <div class="bowels">
        <div class="col-xs-12">
          <h3>Cluster Configuration Details</h3>
        </div>

        <div
          class="col-xs-6 server-details"
          *ngFor="let details of getKeyHalfsets(cluster)">
          <div
            class="server-details-item"
            *ngFor="let detail of details"
          >
            <div class="name" [title]="detail">{{detail}}</div>
            <div class="parameter" [title]="cluster.data.configuration[detail]|json">
              {{cluster.data.configuration[detail]|json}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<loader *ngIf="!clusters"></loader>

<div *ngIf="clusters && !clusters.length" class="no-clusters">
  You don't have any clusters yet. Please create.
</div>

<modal
  [title]="newCluster.id ? 'Edit Cluster' : 'Create New Cluster'"
>
  <div class="modal-body">
    <form #newClusterForm="ngForm">
      <div class="form-group">
        <label for="cluster_name">Cluster Name</label>
        <input
          type="text"
          class="form-control"
          name="cluster_name"
          id="cluster_name"
          placeholder="Name"
          [(ngModel)]="newCluster.data.name"
          required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modal.close()">Cancel</button>
    <button
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!newClusterForm.form.valid">Save changes</button>
  </div>
</modal>

<pager [pagingData]="pagedData" (onChange)="fetchData()"></pager>