<button (click)="editConfiguration()" class="btn btn-success pull-right">Create configuration</button>

<h3>Playbooks Configurations</h3>

<div *ngIf="!configurations.length" class="no-configurations">
  You don't have any configurations yet. Please create.
</div>

<table class="configurations table" *ngIf="configurations.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Playbook</th>
      <th>Created</th>
      <th>Last Executed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let configuration of configurations">
      <td>{{configuration.data.name}}</td>
      <td>{{configuration.data.playbook}}</td>
      <td>Never</td>
      <td>Never</td>
    </tr>
  </tbody>
</table>

<modal
  [title]="'New Playbook Configuration'">
  <wizard
    [playbooks]="playbooks"
    [clusters]="clusters"
    [servers]="servers"
    [fetchData]="fetchData"
  ></wizard>
</modal>