<div class="login-background">
  <form (ngSubmit)='login()' #loginForm='ngForm'>
    <div class="login-box">
      <div class="logo-box">
        <div class="logo"></div>
      </div>
      <div class="form-group">
        <div class="login-icon"><i class="glyphicon user-icon"></i></div>
        <input
          type="text"
          name="username"
          class="form-control login-input"
          placeholder="Login"
          [(ngModel)]='username'
        >
        <div class="pass-icon"><i class="glyphicon password-icon"></i></div>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]='password'
        >
      </div>
      <div class="login-error-message text-danger" *ngIf="loginError">
        Authentication error. Please check that you've provided correct credentials.
      </div>

      <div class="login-button">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]='!loginForm.form.valid'
        >
          Login
        </button>
      </div>
    </div>
  </form>

  <div class="copyrights">&copy; 2016 All rights reserved.</div>
</div>