<div class="page-title navigated">
  <div class="row">
    <div class="col-xs-9"><h1>Roles</h1></div>
    <div class="col-xs-3 main-button">
      <button type="button" class="btn btn-primary" (click)="editRole()">
        Create New Role
      </button>
    </div>
  </div>
</div>

<div class="roles grid row" *ngIf="roles && roles.length">
  <div class="grid-header">
    <div class="col-xs-2"></div>
    <div
      class="col-xs-2 name"
      *ngFor="let role of roles"
      data-toggle="tooltip"
      data-placement="top"
      title="{{role.data.name}}"
    >
      {{role.data.name|trim_by:10}}
      <button class="btn btn-link" (click)="editRole(role)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button class="btn btn-link" (click)="deleteRole(role)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </div>
  <section PermissionsGroup
    *ngFor="let group of permissions"
    [group]="group"
    [roles]="roles">
  </section>
</div>

<loader *ngIf="!roles"></loader>

<modal [title]="newRole.id ? 'Edit Role' : 'New Role'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>
    <form #newRoleForm="ngForm">
      <div class="form-group">
        <label for="role_name">Name</label>
        <input
          type="text"
          class="form-control"
          name="role_name"
          id="role_name"
          placeholder="Role Name"
          [(ngModel)]="newRole.data.name"
          required>
      </div>

      <label>Permissions groups</label>

      <div *ngFor="let group of permissions">
        <h5>{{group.name}}</h5>
        <div class="checkbox" *ngFor="let permission of group.permissions">
          <label>
            <input
              type="checkbox"
              [name]="group"
              [value]="permission"
              [checked]="getGroupPermission(group, permission)"
              (click)="toggleGroupPermission(group, permission)">
              {{permission}}
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left" (click)="modal.close()">
      Cancel
    </button>
    <button
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!newRoleForm.form.valid">
      Save changes
    </button>
  </div>
</modal>