<button (click)="editRole()" class="btn btn-success pull-right">Create Role</button>

<h3>Roles Permissions</h3>

<table class="roles table" *ngIf="roles.length">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let role of roles">
        {{role.data.name}}
        <button class="btn btn-link" (click)="editRole(role)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody PermissionsGroup
    *ngFor="let group of permissions|keys"
    [group]="group"
    [roles]="roles"
    [permissions]="permissions">
  </tbody>
</table>

<modal [title]="newRole.id ? 'Edit Role' : 'Create New Role'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>
    <form #newRoleForm="ngForm">
      <div class="form-group">
        <label for="role_name">Name</label>
        <input
          type="text"
          class="form-control"
          name="role_name"
          id="role_name"
          placeholder="Role Name"
          [(ngModel)]="newRole.data.name"
          required>
      </div>
      <div *ngFor="let group of permissions|keys">
        <h5>{{group}}</h5>
        <div class="checkbox" *ngFor="let permission of permissions|key:group">
          <label>
            <input
              type="checkbox"
              [name]="group"
              [value]="permission"
              [checked]="getGroupPermission(group, permission)"
              (click)="toggleGroupPermission(group, permission)"> {{permission}}
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modal.close()">Cancel</button>
    <button
      class="btn btn-success"
      (click)="save()"
      [disabled]="!newRoleForm.form.valid">Save changes</button>
  </div>
</modal>