<div class="page-title">
  <div class="row">
    <div class="col-xs-12"><h1>Servers</h1></div>
  </div>
</div>

<filter
  [criteria]="{state: ['error', 'operational', 'down']}"
  (onChange)="fetchData($event)"
></filter>

<div class="row" *ngIf="servers && servers.length">
  <div class="col-xs-12">

    <div class="table-help">
      <div class="col-xs-4">Server Name</div>
      <div class="col-xs-2">IP</div>
      <div class="col-xs-3">FQDN</div>
      <div class="col-xs-3">Status</div>
    </div>

    <div
      class="box"
      [ngClass]="{open: server.id === shownServerId}"
      *ngFor="let server of servers">
      <div class="col-xs-4 name">{{server.data.name}}</div>
      <div class="col-xs-2 name">{{server.data.ip}}</div>
      <div class="col-xs-3 name">{{server.data.fqdn}}</div>
      <div class="col-xs-2 state" [ngClass]="server.data.state">
        {{server.data.state}}
      </div>
      <div class="col-xs-1 action">
        <a (click)="showConfiguration(server)">
          <span
            class="glyphicon"
            [ngClass]="'glyphicon-triangle-' + (server.id === shownServerId ? 'bottom' : 'right')"
          ></span>
        </a>
      </div>

      <div class="bowels">
        <div class="col-xs-12">
          <h3>Server Facts</h3>
        </div>

        <div
          class="col-xs-6 server-details"
          *ngFor="let details of getKeyHalfsets(server)">
          <div
            class="server-details-item row"
            *ngFor="let detail of details">
            <div class="col-xs-4 name" [title]="detail">{{detail|deprefix:'ansible'}}</div>
            <div class="col-xs-8 parameter" [title]="server.data.facts[detail]|json">
              {{server.data.facts[detail]|json}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<loader *ngIf="!servers"></loader>

<div *ngIf="servers && !servers.length" class="no-servers">
  You don't have any servers.
</div>

<pager [pagingData]="pagedData" (onChange)="fetchData()"></pager>

