<button (click)="editUser()" class="btn btn-success pull-right">Create User</button>

<h3>Users Management</h3>
<table class="users table" *ngIf="users.length">
  <thead>
    <tr>
      <th>Login</th>
      <th>Full Name</th>
      <th width="1%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.data.login}}</td>
      <td>{{user.data.full_name}}</td>
      <td>
        <button (click)="editUser(user)" class="btn btn-sm btn-success">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<modal [title]="newUser.id ? 'Edit User' : 'Create New User'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>
    <form #newUserForm="ngForm">
      <div class="form-group">
        <label for="user_login">Login</label>
        <input
          type="text"
          class="form-control"
          name="user_login"
          id="user_login"
          placeholder="Login"
          [(ngModel)]="newUser.data.login"
          required>
      </div>
      <div class="form-group">
        <label for="user_name">Full Name</label>
        <input
          type="text"
          class="form-control"
          name="user_name"
          id="user_name"
          placeholder="Full Name"
          [(ngModel)]="newUser.data.full_name"
          required>
      </div>
      <div class="form-group">
        <label for="user_email">Email</label>
        <input
          type="email"
          class="form-control"
          name="user_email"
          id="user_email"
          placeholder="Email"
          [(ngModel)]="newUser.data.email"
          required>
      </div>
      <div class="form-group">
        <label for="user_role">Role</label>
        <select
          class="form-control"
          name="user_role"
          id="user_role"
          [(ngModel)]="newUser.data.role_id"
          required>
          <option value=""></option>
          <option *ngFor="let role of roles" [value]="role.id">
            {{role.data.name}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="modal.close()">Cancel</button>
    <button
      class="btn btn-success"
      (click)="save()"
      [disabled]="!newUserForm.form.valid">Save changes</button>
  </div>
</modal>