<div class="page-title navigated">
  <div class="row">
    <div class="col-xs-9"><h1>Users Management</h1></div>
    <div class="col-xs-3 main-button">
      <button type="button" class="btn btn-primary" (click)="editUser()">
        Create New Cluster
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="users && users.length">
  <div class="col-xs-12">

    <div class="table-help">
      <div class="col-xs-4">User</div>
      <div class="col-xs-4">Role</div>
      <div class="col-xs-4">Created</div>
    </div>

    <div
      class="box"
      [ngClass]="{open: user.id === shownUserId}"
      *ngFor="let user of users">
      <div class="col-xs-4 name">
        {{user.data.login}}
      </div>
      <div class="col-xs-4 parameter">
        {{rolesNames[user.data.role_id]}}
      </div>
      <div class="col-xs-3 parameter">
        {{user.time_updated|date_time}}
      </div>

      <div class="col-xs-1 action">
        <div class="box-close">
          <a (click)="showUserData(user)">
            <i
              class="glyphicon"
              [ngClass]="user.id === shownUserId ? 'triangle-down-icon' : 'triangle-right-icon'"
            ></i>
          </a>
        </div>
      </div>
      <div class="bowels" *ngIf="user.id === shownUserId">
        <div class="col-xs-6"><h3>User Details</h3></div>
        <div class="col-xs-6"><h3>Changelog</h3></div>

        <div class="col-xs-6 server-details">
          <div class="server-details-item">
          </div>
        </div>

        <div class="col-xs-6 server-details">
          <div class="server-details-item">
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<loader *ngIf="!users"></loader>

<modal [title]="newUser.id ? 'Edit User' : 'Create New User'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>
    <form #newUserForm="ngForm">
      <div class="form-group">
        <label for="user_login">Login</label>
        <input
          type="text"
          class="form-control"
          name="user_login"
          id="user_login"
          placeholder="Login"
          [(ngModel)]="newUser.data.login"
          required>
      </div>
      <div class="form-group">
        <label for="user_name">Full Name</label>
        <input
          type="text"
          class="form-control"
          name="user_name"
          id="user_name"
          placeholder="Full Name"
          [(ngModel)]="newUser.data.full_name"
          required>
      </div>
      <div class="form-group">
        <label for="user_email">Email</label>
        <input
          type="email"
          class="form-control"
          name="user_email"
          id="user_email"
          placeholder="Email"
          [(ngModel)]="newUser.data.email"
          required>
      </div>
      <div class="form-group">
        <label for="user_role">Role</label>
        <select
          class="form-control"
          name="user_role"
          id="user_role"
          [(ngModel)]="newUser.data.role_id"
          required>
          <option value=""></option>
          <option *ngFor="let role of roles" [value]="role.id">
            {{role.data.name}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left" (click)="modal.close()">
      Cancel
    </button>
    <button
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!newUserForm.form.valid">
      Save changes
    </button>
  </div>
</modal>