<div class="modal-body">
  <div class="alert alert-danger" role="alert" *ngIf="getValidationSummary()">
    {{getValidationSummary()}}
  </div>
  <form #newConfigurationForm="ngForm" [ngSwitch]="step">

    <template [ngSwitchCase]="1">
      <h1>Configuration Properties</h1>
      <div class="form-group">
        <label class="control-label" for="configuration_name">Configuration Name</label>
        <input
          type="text"
          class="form-control"
          name="configuration_name"
          id="configuration_name"
          placeholder="Name"
          [(ngModel)]="newConfiguration.data.name"
          required>
      </div>
      <div class="form-group">
        <label class="control-label" for="configuration_cluster">Cluster</label>
        <select
          class="form-control"
          name="configuration_cluster"
          id="configuration_cluster"
          placeholder="Cluster"
          [(ngModel)]="newConfiguration.data.cluster_id"
          required>
          <option *ngFor="let cluster of clusters" [value]="cluster.id">
            {{cluster.data.name}}
          </option>
        </select>
      </div>
    </template>

    <template [ngSwitchCase]="2">
      <h1>Select Playbook</h1>
      <div class="row">
        <div class="col-xs-12 grid">
          <div class="grid-line table-help">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">Name</div>
            <div class="col-xs-5">Description</div>
            <div class="col-xs-3">Servers Required</div>
          </div>

          <div class="grid-line" *ngFor="let playbook of playbooks">
            <div class="col-xs-1">
              <input
                (click)="selectPlaybook(playbook)"
                id="playbook"
                name="playbook"
                [value]="playbook.id"
                [checked]="newConfiguration.data.playbook_id === playbook.id"
                type="radio"
                required
              >
            </div>
            <div class="col-xs-3 name">
              <a (click)="selectPlaybook(playbook)">
                {{playbook.name}}
              </a>
            </div>
            <div class="col-xs-6 parameter">{{playbook.description}}</div>
            <div class="col-xs-2 icon">
              <span *ngIf="playbook.required_server_list" class="glyphicon glyphicon-ok"></span>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template [ngSwitchCase]="3">
      <h1>Select Servers</h1>
      <div class="row">
        <div class="col-xs-12 grid">
          <div class="grid-line table-help">
            <div class="col-xs-1">
              <input
                id="select_all"
                name="select_all"
                (click)="toggleSelectAll(this)"
                [checked]="areAllServersSelected()"
                type="checkbox"
                required
              >
            </div>
            <div class="col-xs-10">Select All</div>
            <div class="col-xs-1"></div>
          </div>

          <div class="grid-line" *ngFor="let server of servers">
            <div class="col-xs-1">
              <input
                type="checkbox"
                (change)="toggleServer(server)"
                [checked]="isServerSelected(server)"
                required
              >
            </div>
            <div class="col-xs-10 name">
              <a (click)="toggleServer(server)">
                {{server.data.name}}
              </a>
            </div>
            <div class="col-xs-1 icon">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
          </div>
        </div>
      </div>
    </template>
  </form>
  <form #newConfigurationForm="ngForm" [ngSwitch]="step">
    <template [ngSwitchCase]="4">
      <h1>Configuration</h1>
      <div class="form-group" [ngClass]="{'has-error': !isJSONValid()}">
        <textarea
          class="form-control mono"
          rows="10"
          name="configuration"
          [(ngModel)]="jsonConfiguration"
        ></textarea>
      </div>
    </template>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" (click)="modal.close()">
    {{step === 4 ? 'Close': 'Cancel'}}
  </button>
  <button
    *ngIf="step > 1 && step < 4"
    class="btn btn-default"
    (click)="backward()"
    [disabled]="!newConfigurationForm.form.valid"
  >
      &nbsp;<span class="glyphicon glyphicon-menu-left"></span>&nbsp;
  </button>
  <button
    *ngIf="!isSaveButtonShown()"
    class="btn btn-primary"
    (click)="forward()"
    [disabled]="!newConfigurationForm.form.valid"
  >
    Next
  </button>
  <button
    *ngIf="isSaveButtonShown()"
    class="btn btn-primary"
    (click)="save()"
    [disabled]="!newConfigurationForm.form.valid || !areSomeServersSelected() || !isJSONValid()"
  >
    Save changes
  </button>
</div>
