<div class="modal-body">
  <form #model="ngForm">
    <pre>{{ getConfigData() }}</pre>
    <div #step_container></div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" (click)="modal.close();step=1">
    Discard
  </button>
  <button
    class="btn btn-default"
    (click)="go(-1)"
    [disabled]="getStep(-1) === null"
  >
      &nbsp;<span class="glyphicon glyphicon-menu-left"></span>&nbsp;
  </button>
  <button
    class="btn btn-primary"
    (click)="go(1)"
    [disabled]="getStep(1) === null || !stepIsValid()"
  >
    Next
  </button>
  <button
    class="btn btn-primary"
    (click)="save()"
    [disabled]="!modelIsValid()"
  >
    Save changes
  </button>
</div>
